<script type="text/ng-template" id="defaultData.html">
    <div class="value">
        <span class="data-value" ng-bind-html="showValue(data)"></span><span ng-if="showMoreLink(data)" class="morelink"><a ng-click="showDetails($event, data)">[more]</a></span>
        <span ng-if="checks" class="validation"><i ng-show="data.Valid == false" class="fa fa-times invalid"></i><i ng-show="data.Valid" class="fa fa-check valid"></i></span>
    </div>
</script>

<script type="text/ng-template" id="defaultHeader.html">
  {{ header.CellLabels[labelidx] || header.CellLabels[0] }}
</script>

<table ng-show="layoutModel && xHeaderGroups && xHeaderGroups.length > 0 && yHeaderGroups && yHeaderGroups.length>0" ng-class="tableClass()">
    <thead ng-if="layoutModel.ComponentAndHypercubeInformation">
        <tr>
            <th class="darkGrey" colspan="{{ (yHeaderGroups[0].length + data[0].length )}}">Component: (Network and Table)</th>
        </tr>
        <tr>
            <th class="midGrey" colspan="{{yHeaderGroups[0].length}}">Network</th>
            <th class="lightGrey" colspan="{{data[0].length}}">{{ layoutModel.ComponentAndHypercubeInformation.Component.Label  }}
                <div class="lightGreySubTitle">( {{ layoutModel.ComponentAndHypercubeInformation.Component.Role  }} )</div>
            </th>
        </tr>
        <tr>
            <th class="midGrey" colspan="{{yHeaderGroups[0].length}}">Table</th>
            <th class="lightGrey" colspan="{{data[0].length}}">{{ layoutModel.ComponentAndHypercubeInformation.Hypercube.Label  }}</th>
        </tr>
        <tr class="space"><td></td></tr>
    </thead>
    <thead ng-if="constraints == true" ng-show="hasConstraints()">
        <tr ng-repeat="pair in layoutModel.GlobalConstraints">
            <th class="darkBlue" colspan="{{yHeaderGroups[0].length}}">{{ getConstraintLabel(pair) }}</th>
            <th class="lightBlue" colspan="{{data[0].length}}">{{ getConstraintValue(pair) }}</th>
        </tr>
        <tr class="space"><td></td></tr>
    </thead>

    <!-- ###### The main table ###### -->
    <thead>
        <tr ng-repeat="headerGroup in xHeaderGroups"
            class="header-row">

            <!-- top left corner header cell -->
            <th ng-repeat="superHeader in ySuperHeaders | displaySuperColumnHeader:$index"
                class="darkBlueBold"
                colspan="{{yHeaderGroups[0].length}}" rowspan="{{xHeaderGroups.length}}"
                ng-click="headerclick({ header : superHeader, axis:'x', index: 0,  rows: data });">{{superHeader.Label}}</th>

            <!-- top header row -->
            <th ng-class="colHeaderClasses(header)"
                ng-click="headerclick({header : header, axis:'x', index: $index, parentIndex: $parent.$parent.$index, rows: data, colspan: header.CellSpan, headerGroup: headerGroup });"
                ng-repeat="header in headerGroup" colspan="{{header.CellSpan}}" ng-include="headerTemplate">
            </th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="headerGroup in yHeaderGroups">
            <!-- left row headers -->
            <th ng-repeat="header in headerGroup"
                ng-class="rowColHeaderClasses(header)"
                class="lightBlue"
                ng-click="headerclick({ header : header, axis:'y', index: $index, parentIndex: $parent.$parent.$index, rows: data, rowspan: header.CellSpan, colspan: headerColSpan(headerGroup, $index) });"
                ng-show="isVisible(header)"
                colspan="{{headerColSpan(headerGroup, $index)}}"
                rowspan="{{header.CellSpan}}" ng-include="headerTemplate">
            </th>

            <!-- data cells -->
            <td
                ng-class="classes(data, headerGroup[headerGroup.length - 1])"
                ng-click="dataclick({ data : data })"
                ng-repeat="data in data[$index] track by $index"
                ng-include="dataTemplate">
            </td>
        </tr>
    </tbody>
</table>
