 <script type="text/ng-template" id="defaultTitle.html">
  <div>{{ innerTitle.CellLabels[labelidx] || innerTitle.CellLabels[0] }}</div>  
 </script>
 <script type="text/ng-template" id="defaultData.html">
  <div class="value"><span ng-bind-html="showValue(data)"></span><span ng-if="checks" class="validation"><i ng-show="data.Valid == false" class="fa fa-times invalid"></i><i ng-show="data.Valid" class="fa fa-check valid"></i></span></div>
 </script>
 <script type="text/ng-template" id="defaultHeader.html">
  {{ header.CellLabels[labelidx] || header.CellLabels[0] }}           
 </script>
 
<table ng-show="layoutModel && xHeaderGroups && xHeaderGroups.length > 0 && yHeaderGroups && yHeaderGroups.length>0" class="rendering" ng-class="class">
  <thead ng-show="headers.length >0">
    <tr class="constraints" ng-repeat="header in headers">
      <td class="constraintlabel" colspan="{{yHeaderGroups[0].length}}">{{ header.label  }}</td>
      <td class="constraintvalue" colspan="{{data[0].length}}">{{ header.value  }}</td>
      <td class="closing-border"></td>
    </tr>
    <tr class="space">
      <td colspan="{{yHeaderGroups[0].length}}"></td>
      <td colspan="{{data[0].length}}"></td>
      <td class="closing-border"></td>
    </tr>
  </thead>
  <tbody ng-if="constraints == true" ng-show="hasConstraints()">
    <tr class="constraints" ng-repeat="(constraint, value) in layoutModel.GlobalConstraintLabels">
      <td class="constraintlabel" colspan="{{yHeaderGroups[0].length}}">{{ value.DimensionLabels[labelidx] || value.DimensionLabels[0]  }}</td>
      <td class="constraintvalue" colspan="{{data[0].length}}">{{ value.ValueLabels[labelidx] || value.ValueLabels[0]  }}</td>
      <td class="closing-border"></td>
    </tr> 
    <tr class="space">
       <td colspan="{{yHeaderGroups[0].length}}"></td>
       <td colspan="{{data[0].length}}"></td>
       <td class="closing-border"></td>
     </tr> 
  </tbody> 
  <tbody>
	  <tr ng-repeat="headerGroup in xHeaderGroups" ng-class="{ 'last-column-header-row' : $last, 'first-column-header-row' : $first }">
	    <td class="header title" ng-if="$index == 0" colspan="{{yHeaderGroups[0].length}}" rowspan="{{xHeaderGroups.length}}" ng-include="titleTemplate"></td>
	    <td class="header column-header" ng-class="{ xrollup : header.RollUp }" ng-click="headerclick({header : header, axis:'x' });" ng-repeat="header in headerGroup" colspan="{{header.CellSpan}}" ng-include="headerTemplate">    
	    </td>
	    <td class="closing-border"></td>
	  </tr>
	  <tr ng-repeat="headerGroup in yHeaderGroups" ng-class="headerclasses(headerGroup[headerGroup.length - 1], $first)">
	    <td class="header row-header" ng-class="headerclasses(header)" ng-click="headerclick({header : header, axis:'y' });" ng-repeat="header in headerGroup" rowspan="{{header.CellSpan}}" ng-include="headerTemplate">     
	    </td>    
	    <td class="data" ng-click="dataclick({ data : data })" ng-class="classes(data, headerGroup[headerGroup.length - 1])" ng-repeat="data in data[$index] track by $index" ng-include="dataTemplate">          
	    </td>
	    <td class="closing-border"></td>
	  </tr>
  </tbody>
</table>
</div>
