<a href="https://github.com/28msec/layoutmodel-renderer-angular"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
<div>
<p>
    <a id="opensource" href="http://28.io/analysts">Made with <i class="fa fa-heart-o"></i> by 28.io</a>
</p>
<form class="form-horizontal" role="form">

 <!--div class="form-group">
    <label class="col-sm-2 control-label" for="modelurl">URL</label>
    <div class="col-sm-10">
      <div class="input-group">      
        <input type="text" class="form-control" id="modelurl" ng-model="modelurl" />
        <span class="input-group-btn">
           <button ng-click="fetch(modelurl);" class="btn btn-default">get</button>
         </span>
      </div>
    </div>
 </div-->

 <!--div class="form-group">
    <label class="col-sm-2 control-label" for="css">Style</label>
    <div class="col-sm-10">
      <label class="radio-inline">      
        <input type="radio" id="css1" ng-model="css" value="plain-style" />1: Plain
      </label>
      <label class="radio-inline">      
        <input type="radio" id="css2" ng-model="css" value="document-style" />2: Document
      </label>
      <label class="radio-inline">      
        <input type="radio" id="css2" ng-model="css" value="preview-style" />3: XBRL Cloud like
      </label>         
    </div>
 </div-->
 
 <!--div class="form-group">
    <label class="col-sm-2 control-label" for="constraints">Constraints</label>
    <div class="col-sm-10">
      <label class="checkbox-inline">      
        <input type="checkbox" id="constraints" ng-model="constraints" value="true" />Show constraints
      </label>           
      <label class="checkbox-inline">      
        <input type="checkbox" id="checks" ng-model="checks" value="true" />Show validation checks
      </label>
      <label class="checkbox-inline">      
        <input type="checkbox" id="truncate" ng-model="truncate" value="true" />Shorten textblocks
      </label>
    </div>
 </div-->
 
<!--div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=hierarchy')">Hierachy</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=rollup')">Rollup</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=rollforward')">Rollforward</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=compoundfacts')">Compoundfacts</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=adjustment')">Adjustment</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=variance')">Variance</button>       
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=complexcomputation')">Complex</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=textblock')">Textblock</button>
    <button class="btn btn-default" ng-click="fetch('http://metapatterns-rendering.28.io/v1/_queries/public/metapatterns/resolution-and-layout-and-accountant.jq?def=grid')">Grid</button>
  </div>
</div-->
</form>

<script type="text/ng-template" id="myheaders.html">  
  {{ header.CellLabels[$scope.labelidx] || header.CellLabels[0] || " " }}
 </script>
<div ng-class="css">
  <layoutmodel model="mymodel" 
               headers="myheaders"
               labelidx="labelidx" 
               constraints="constraints"
               truncate="truncate"
               checks="checks" 
               headerclick="test(header)" 
               dataclick="test(data)" 
               header="'myheaders.html'"></layoutmodel>
</div>

<div>
<p ng-show="loading">Loading...</p>
<p ng-show="mymodel"><br><br>Click on a cell to see the corresponding JSON</p>
</div>
</div>
