<a href="https://github.com/28msec/layoutmodel-renderer-angular"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
<div>
<p>
    <a id="opensource" href="http://28.io/analysts">Made with <i class="fa fa-heart-o"></i> by 28.io</a>
</p>

<script type="text/ng-template" id="myheaders.html">  
  {{ header.CellLabels[$scope.labelidx] || header.CellLabels[0] || " " }}
 </script>
<div ng-class="css">
  <layoutmodel model="mymodel" 
               headers="myheaders"
               labelidx="labelidx" 
               constraints="constraints"
               truncate="truncate"
               checks="checks" 
               headerclick="headerclick({ header: header, axis: axis, index: index, parentIndex: parentIndex, rows: rows, rowspan: rowspan, colspan: colspan, headerGroup: headerGroup })"
               dataclick="test(data)" 
               header="'myheaders.html'"></layoutmodel>
</div>

<div>
<p ng-show="loading">Please wait while the spreadsheet is being assembled, retrieving, computing and validating fresh facts from the cell store in <b>real time</b>...</p>
<p ng-show="mymodel"><br><br>Click on a cell to see the corresponding JSON</p>
</div>
</div>
